/*header-----------------*/

header {
    margin: 0px;
}

.header-image {
    height: 200px;
    width: 100vw;
    background-image: url("index_images/header/headerimage.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.logo-image {
    height:50px;
    width: 75px;
}

.navbar-nav {
    margin-left: 33%;
}

.bg-info {
    background-color: black!important;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-size: 25px;
}

.dropdown-item {
    background-color: black;
    color: white;
}

.dropdown-menu {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
}

@media only screen and (max-width: 600px) {
    .far{
        display: none
    }
    .fas {
        display:none;
    }
}

.user {
    font-size: 25px;
    color: white;
    padding-left: 20px;
}

.user:hover {
    text-decoration: none;
    color: lightgrey;
}

.currency {
    font-size: 25px;
    color: white;
    padding-left: 10px;
}

.currency:hover {
    text-decoration: none;
    color: lightgrey;
}

.basket {
    font-size: 25px;
    color: white;
    padding-left: 10px;
}

.basket:hover {
    text-decoration: none;
    color: lightgrey;
}

.breadcrumb {
    width: 192px;
}

/*section--------------------------------*/

section {
    margin-top: 4px;
    border-top-width: 5px;
    padding-top: 2px;
    padding-bottom: 20px;
    background-color: darkgrey;
}

.title-name {
    font-size: 20px;
}

.input-name {
    border-radius: 8px;
    outline: none;
    width: 200px;

}

.title-email {
    font-size: 20px;
}

.input-email {
    border-radius: 8px;
    outline: none;
    width: 200px;
}

.title-contact {
    font-size: 20px;
}

.input-contact {
    border-radius: 8px;
    outline: none;
    width: 200px;
}

label {
    width: 70px;
}

label,
input {
    padding-bottom: 10px;
}

.query-box-title {
    margin-top: 20px;
}

.query-box {
    width: 100%;
    height: 100px;
    outline: none;
    border-radius: 8px;
    margin-bottom: 20px;
}

.submit-btn {
    margin-bottom: 20px
}

.opening-days {
    color: black;
    font-size: 20px;
}

.opening-times-margin {
    margin-left: 15px
}

.map-width {
    width: 100%;
}


h2 {
    color: black;
    font-weight: 600!important;
}


/*footer----------------------------------*/

footer {
    background-color: grey;
    margin-top: 10px;
}

h7 {
    font-weight: bold;
    color: #00FA9A;
}

p>a {
    color: black;
}

p>a:hover {
    text-decoration: none;
    color: lightgrey;
}

.address {
    color: black;
}

.social-media-icon-facebook {
    font-size: 50px;
    margin: 0 15px 15px 0;
}

.social-media-icon-facebook:hover {
    color: rgb(59, 89, 152);
}

.social-media-icon-twitter {
    font-size: 50px
}

.social-media-icon-twitter:hover {
    color: #1DA1F2;
}

.social-media-icon-instagram {
    font-size: 50px;
    margin: 0 15px 15px 0;
}

.social-media-icon-instagram:hover {
    color: #8a3ab9;
}

.social-media-icon-snapchat {
    font-size: 50px
}

.social-media-icon-snapchat:hover {
    color: #FFFB00;
}
