header {
    margin: 0px;
    
}




.header-image {
    height: 370px;
    width: 100%;
    background-image: url("images/headerimage.jpg");
    /*padding-left: 0%;*/
    background-repeat: no-repeat;
    background-position: center;
    
}
.header-text {
    color:yellow;
    text-align: center;
    text-decoration: none;
    padding-top: 100px;
    font-size: 70px;
    font-family: cursive, sans-serif;
    
}

.banner {
    padding-top: px;
    color: black;
    background-color: grey;
    border-width:2px;
    border-style:solid;
    border-color:black;
    text-align: center;
    /*width: 300px;*/
    /*height: 300px;*/
    font-family: cursive;
    
    
    
}

.banner:hover {
    background-color: lightgrey;
    color: black;
    transition-duration: .5s;
    text-decoration: none;
}

.picture {
    height:200px;
    width: 200px;
    padding-top: 5px;
    padding-left: 5px;
}

.sectionpicture {
    height: 200px;
    width: 200px;
    margin-top: 5px;
}

footer {
    background-color: grey;
}

.footer-text {
    color: #00FA9A;
}
h7 {
    font-weight: bold;
}
